<! DOCTYPE html>
<html lang="nl">
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.css" TYPE="text/css" />
	<link rel="stylesheet" href="/media/bootstrap/css/bootstrap-responsive.css" TYPE="text/css" />
	<link rel="stylesheet" href="/media/css/screen.css" TYPE="text/css" media="screen" />
	{% block head %}
	{% endblock %}
	<script type="text/javascript" src="/media/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="/media/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/media/js/custom.js"></script>
</head>

<body>

	<div class="container">
	
		{% block navbar %}
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="http://www.ravenskeep.nl">Ravenskeep</a>
				<a class="brand" href="http://www.ravenskeep.nl/ravenskeep/secured/Ravenskeep_dataset_index.php">Administratie</a>
				<ul class="nav">
					<li><a href="/">Characters</a></li>
				</ul>
			</div>
		</div>
		{% endblock %}
	
		<div class="row">
			<div class="span3">
				<div class="nav nav-list">
					<li class="nav-header">Characters</li>
					<li><a href="">Create new</a></li>
					{% block sidebar %}
					{% endblock %}
					<li class="nav-header">Admin</li>
					<li><a href="{% url chars.views.logout_user %}">Uitloggen</a></li>
				</div>
			</div>
			
			<div class="span9">
			{% block content %}{% endblock %}
			</div>
			
		</div>	
		
	</div>
</body>

</html>
