{% extends "menupage.html" %}

{% block title %}Ravenskeep Characters{% endblock %}

{% block sidebarextend %}
<li><a href="">Delete selected</a></li>
<li><a href="">Print selected</a></li>
{% endblock %}

{% block content %}
		<form action="" method="POST" class="form-horizontal">
			<fieldset>			
			<div class="control-group">
				<label class="control-label" for="charId">Character id</label>
				<div class="controls">
					<input type="text" name="charId" placeholder="Character id">
					{% csrf_token %}
					<input type="hidden" name="oldornew" value="new">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">Openen</button>
				</div>
			</div>
			</fieldset>
		</form>

		<form action="" method="POST" class="form-horizontal">
			<fieldset>
			<div class="control-group">
				<span class="control-label">Oude opmaak:</label>
			</div>
			<div class="control-group">
				<label class="control-label" for="charId">Character id</label>
				<div class="controls">
					<input type="text" name="charId" placeholder="Character id">
					{% csrf_token %}
					<input type="hidden" name="oldornew" value="old">
				</div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn">Openen</button>
				</div>
			</div>
			</fieldset>
		</form>
{% endblock %}

