<!DOCTYPE html>
<html lang="nl">
<head>
	<title>Character sheet</title>
	<link href="/static/css/printindex.css" rel="stylesheet" type="text/css">
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
</head>
<body>
  {% for char in chars %}
  <div id="A4">
	<form method="get">
		<input class="absolute" id="speler" name="speler" value="{{ char.speler.name }}">
		<input class="absolute" id="character_naam" name="character_naam" value="{{ char.character_naam }}">
		<input class="absolute" id="ras" name="ras" value="{{ char.ras.naam }}">
		<input class="absolute" id="rasvoordeel" name="rasvoordeel" value="{{ char.ras.skill }}">
		<input class="absolute" id="god" name="god" value="{{ char.god.naam }}">
		<input class="absolute" id="subgod" name="subgod" value="{% if char.subgod %}{{ char.subgod.naam }}{% endif %}">
		<input class="absolute" id="eerste_live" name="eerste_live" value="{{ char.eerste_live }}">
		<input class="absolute" id="live_nr" name="live_nr" value="{{ char.live_nr }}">
		<input class="absolute" id="xp_total" name="xp_total" value="{{ char.xp_total }}">
		<input class="absolute" id="xp_spent" name="xp_spent" value="{{ char.xp_spent }}">
		<input class="absolute" id="xp_remaining" name="xp_remaining" value="{{ char.xp_remaining }}">
		<input class="absolute" id="leermeesterpunten" name="leermeesterpunten">
		<input class="absolute" id="zeer-klein" type="radio" name="grootte" value="zeer-klein">
		<input class="absolute" id="klein" type="radio" name="grootte" value="klein">
		<input class="absolute" id="middel" type="radio" name="grootte" value="middel">
		<input class="absolute" id="groot" type="radio" name="grootte" value="groot">
		<input class="absolute" id="zeer-groot" type="radio" name="grootte" value="zeer-groot">
		<input class="absolute" id="hp_helm" name="hp_helm" value="{{ char.hitpoints }}">
		<input class="absolute" id="hp_linkerarm" name="hp_linkerarm" value="{{ char.hitpoints }}">
		<input class="absolute" id="hp_rechterarm" name="hp_rechterarm" value="{{ char.hitpoints }}">
		<input class="absolute" id="hp_torso" name="hp_torso" value="{{ char.hitpoints }}">
		<input class="absolute" id="hp_linkerbeen" name="hp_linkerbeen" value="{{ char.hitpoints }}">
		<input class="absolute" id="hp_rechterbeen" name="hp_rechterbeen" value="{{ char.hitpoints }}">
		<input class="absolute" id="mana" name="mana" value="{{ char.mana }}">
		<input class="absolute" id="eerste_mana_live" name="eerste_mana_live" value="{{ char.eerste_mana_life }}">
		<input class="absolute" id="leermeester" name="leermeester">
		<input class="absolute" id="lvlmagie" name="lvlmagie">
		<input class="absolute" id="lvlreligie" name="lvlreligie">
		<input class="absolute" id="lvlambacht" name="lvlambacht">
		<textarea class="absolute" id="xfactor" name="xfactor">{{char.x_factor}} <br/> X - Factor Skill: {{ char.x_factor_skill }}</textarea>
		<textarea class="absolute" id="opmerkingen" name="opmerkingen">{{ char.opmerkingen }}</textarea>
	</form>

	<div id="tabelrechts">
		<table id="vsr_lijst">
			{% if char.skills.count %}
					<th>Vaardigheden:</th>
						<tr>
							<th>naam</th>
							<th>xp</th>
							<th></th>
						</tr>
					{% for skill in char.skills.all %}
						<tr>
							<td id="tabel_naam" >{{ skill.naam }}</td> 
							<td id="tabel_xp" >{{ skill.xp }}</td>
						</tr>
					{% endfor %}
			{% endif %}
			{% if char.priest_spells.count or char.mage_spells.count %}
			<th>Spreuken:</th>
				<tr>
					<th>naam</th>
					<th>niveau</th>
					<th>mana</th>
				</tr>
			{% endif %}
			{% if char.priest_spells.count %}
				{% for spell in char.priest_spells.all %}
					<tr>
							<td id="tabel_naam" >{{ spell.naam }}</td>
							<td id="tabel_xp" >{{ spell.niveau }}</td>
							<td id="tabel_mana" >{{ spell.mana }}<td>
					</tr>
				{% endfor %}
			{% endif %}
			{% if char.mage_spells.count %}
				{% for spell in char.mage_spells.all %}
					<tr>
						<td id="tabel_naam" >{{ spell.naam }}</td>
						<td id="tabel_xp" >{{ spell.niveau }}</td>
						<td id="tabel_mana" >{{ spell.mana }}<td>
					</tr>
				{% endfor %}
			{% endif %}
			{% if char.recipes.count %}
				<th>Recepten:</th>
				<tr>
					<th>naam</th>
					<th></th>
					<th>code</th>
				</tr>
				{% for recipe in char.recipes.all %}
					<tr>
						<td id="tabel_recept" >{{ recipe.name }}</td>
						<td id="tabel_xp"></td>
						<td id="tabel_mana" >{{ recipe.code }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
	
	<div>
		<table id="eigendom_lijst">
			{% if char.items.count %}
					<th>Bezittingen:</th>
				{% for item in char.items.all %}
					<tr>
						<td>{{ item.naam }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
     <span class="pagebreak"></span>
  {% endfor %}
</div>
</body>
