<html>
<head>
<link rel="stylesheet" href="/media/css/charsheet.css" TYPE="text/css" media="screen, print" />
</head>

<body>
<div class="totaal">
		<div class="linksmain">

				
				<div>
					<div class="linksstats">Naam karakter:</div>
					<div>{{ char.character_naam }}{% if char.dood %} DOOD!{% endif %}</div>
				</div>
				
				<div>
					<div class="linksstats">Naam speler:</div>
					<div>{{ char.speler.naam }}</div>
				</div>
				
				<div>
					<div class="linksstats">Ras:</div>
					<div>{{ char.ras.naam }}</div>
				</div>
				
				<div>
					<div class="statkolom">
						<div class="substatkolom">XP totaal:</div>
						<div class="substatkolom">{{ char.xp_total }}</div>
					</div>
					
					<div class="statkolom">
						<div class="substatkolom">XP besteed:</div>
						<div class="substatkolom">{{ char.xp_spent }}</div>
					</div>
					
					<div class="statkolom">
						<div class="substatkolom">XP restant:</div>
						<div class="substatkolom">{{ char.xp_remaining }}</div>
					</div>
					
					<div class="statkolom">
						<div class="substatkolom">Eerste live:</div>
						<div class="statkolom">{{ char.eerste_live }}</div>
					</div>
					
					<div class="statkolom">
						<div class="substatkolom">Live #:</div>
						<div class="substatkolom">{{ char.live_nr }}</div>
					</div>
				</div>
				
				<div class="clear">
					<div class="linksstats">Godsdienst:</div>
					<div>{{ char.god.naam }}{% if char.subgod %}( Subgod: {{ char.subgod.naam }} ){% endif %}</div>
				</div>

			
			<div class="vaardigheden">
				<div>Vaardigheden:</div>
				{% for skill in char.skills.all %}
					<div class="substatkolom">
						<div class="substatkolom">{{ skill.naam }}</div>
						<div class="substatkolom">{{ skill.punten }}</div>
					</div>
				{% endfor %}
				{% if char.x_factor_skill %}
				<div class="substatkolom">X-Factor: {{ char.x_factor_skill }}</div>
				{% endif %}
				{% if char.ras.skill %}
				<div class="substatkolom">Ras: {{ char.ras.skill }}</div>
				{% endif %}
				{% if char.ras.xp_extra %}
				<div class="substatkolom">Ras: +1 XP</div>
				{% endif %}
			</div>

			
			<div class="bezittingen">
				<div>Bezittingen:</div>		
				{% for item in char.item_set.all %}
					<div class="substatkolom">{{ item.naam }}</div>
				{% endfor %}

			</div>
		</div>
		
		<div class="hitpoints">
			<div class="totalhitpoints">
					<div><div class="statstekst">Hitpoints:</div></div>
					<div><div class="statstekst">Hoofddeksel:</div><div class="cijfer"></div></div>
					<div><div class="statstekst">Beschermingspunten:</div><div class="cijfer"></div></div>
					<div><div class="statstekst">Hitpoints: (per locatie)</div><div class="cijfer2">{{ char.hitpoints }}</div></div>
					<div><div class="statstekst">Mana: (per dag)</div><div class="cijfer2">{{ char.mana }}</div></div>
			</div>
			
			<div class="currenthitpoints">
					<div>Torso:</div>
					<div>Arm links:</div>
					<div>Arm rechts:</div>
					<div>Been links:</div>
					<div>Been rechts:</div>
					<div>Mana:</div>
			</div>		

			<div class="clear">
					<div>Opmerkingen:</div>
					<div>
						<p>
							{{ char.opmerkingen|linebreaks }}
						</p>
					</div>
			</div>
			
			{% if char.x_factor %}
			<div class="clear">
					<div>X-Factor:</div>
					<div>
						<p>
							{{ char.x_factor }}
						</p>
					</div>
			</div>
			{% endif %}
		</div>
		
		{% if char.mage_spells.count %}
		<div class="clear">
		</div>
		<div class="spreuken">
				<div>Magier spreuken:</div>
				{% for spell in char.mage_spells.all %}
					<div class="spreuk">{{ spell.naam }} (niveau {{ spell.niveau }}, {{ spell.mana }} mana)</div>
				{% endfor %}

		</div>
		{% endif %}

		{% if char.priest_spells.count %}
		<div class="clear">
		</div>
		<div class="spreuken">
				<div>Priester spreuken:</div>
				{% for spell in char.priest_spells.all %}
					<div class="spreuk">{{ spell.naam }} (niveau {{ spell.niveau }}, kost {{ spell.mana }} mana)</div>
				{% endfor %}

		</div>
		{% endif %}
</div>
</body>
</html>

